body {
    font-size: 15px;
    font-family: PingFangSC-Regular,Arial,'Helvetica Neue','Microsoft YaHei',sans-serif;
}

a {
    color: #4183C4;
}

.container {
    margin: 0 auto;
    width: 1024px;
}

@media screen and (max-width: 1024px) {
    .container {
        width: 90%;
    }
}

.category-icon,
.tag-icon,
.time-icon {
    margin-right: 6px;
    width: 12px;
    height: @width;
}

#copyright {
    margin: 40px 0;
    color: #AAA;
    font-size: 12px;
    text-align: center;
}