---
layout: default
title: 博客
---
<link rel="stylesheet" href="/assets/css/index.css">
<link rel="stylesheet" media="screen and (max-width: 1024px)" href="/assets/css/index.mobile.css">
<ul class="post-list">
    {% for post in site.posts %}
    <li class="post">
        <a href="{{ site.baseurl }}{{ post.url }}"><div>
            <header style="background: {{ post.color }}">
                <h3 class="title">{{ post.title }}</h3>
                <p class="introduction">{{ post.introduction }}</p>
            </header>
            <footer>
                <p class="category">
                    <object data="assets/img/cate.svg" class="category-icon"></object>
                    {% for category in post.categories %}
                    <span>{{ category }}</span>
                    {% endfor %}
                </p>
                <p class="category">
                    <object data="assets/img/tag.svg" class="tag-icon"></object>
                    {% for tag in post.tags %}
                    <span>{{ tag }}</span>
                    {% endfor %}
                </p>
                <p class="time">
                    <object data="assets/img/time.svg" class="time-icon"></object>
                    <time>{{ post.date | date: "%Y-%m-%d" }}</time>
                </p>
            </footer>
        </div></a>
    </li>
    {% endfor %}
</ul>
