<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/default.css">
    <base target="_blank">
</head>
<body>
    <div class="container">{{ content }}</div>
    <footer id="copyright">©2018 zhihuahuang. All rights reserved.</footer>
</body>
</html>